.fancybox-slide--image{
	background: white !important;
}
.fancybox-button, .fancybox-button:link, .fancybox-button:visited{
	color: white !important;
}
.fancybox-button{
	background: rgba(171, 171, 171, 0.6) !important;
}

button.fancybox-button.fancybox-button--arrow_right{
	padding: 5px !important;
}
button.fancybox-button.fancybox-button--arrow_left{
	padding: 5px !important;
}
.fancybox-navigation .fancybox-button div{
	padding: 3px !important;
}
.fancybox-navigation .fancybox-button{
	height: 40px !important;
	width: 40px !important;
}
.fancybox-infobar{
	display: none !important;
}