.dataTables_length>label{
	color:#6A6A6A !important;
	font-weight: lighter !important;
	display: none !important; 
}
#datable_1_filter{
	margin-bottom: 10px;
}
#datable_1_filter>label{
	color:#6A6A6A !important;
	font-weight: lighter !important;
}
#datable_1_filter>label>input[type="search"]{
	-webkit-appearance: textfield !important;
}
table.dataTable thead th, table.dataTable thead td{
	border-bottom: 1px solid #f6d365  !important;
}
table.dataTable.no-footer{
	height: 0px !important;
	padding: 0 0 25px 0 !important;
	background: #032535;
	border-bottom: 2px solid #f6d365 ;
}
.dataTables_wrapper .dataTables_info{
	display: none !important; 
}
.table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>th, .table>caption+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>td{
	background: #032535 !important;
	color: #f6d365 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
	color: #f6d365 !important;
	border: 1px solid #f6d365 !important;
	background: #032535 !important;
	margin: 0 5px 0 5px;
	}.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
		color: #032535 !important;
		border: 1px solid #f6d365 !important;
		background: #f6d365 !important;
	}