nav{
	background: white;
}
.image-article{
	width: 100%;height: 220px;background-size: cover !important;transition: 0.2s ease;
}
.image-article:hover{
	opacity: 0.8;
}
.widget-article{
	width: 70px !important;height: 70px !important;background-size: cover !important;transition: 0.2s ease;margin-right: 15px;
}
.widget-article:hover{
	opacity: 0.8;
}
#selector{
	min-width: 180% !important;
	transition: 0.2s ease;
}
.img-a{
	width: 30% !important;
}
.compensate-for-scrollbar{
	margin-right: 0 !important;
}
.no-padding{
	padding: 0 !important;
	margin-top: -1px !important;
}
.works-grid.hover-white .work-item:hover #work-img:after {
	background: rgba(0,0,0,0) !important;
}

/*warna per jurusan*/

/*TDPIB*/
.tdpib-font{
	color: #f0d78c;
}
.tdpib-bg{
	background-color: #f0d78c;
}
#tdpib.bg-dark-alfa-90:before, .bg-dark-alfa-90 .YTPOverlay:before {
	background: rgba(33, 101, 131,0.8) !important;
}
#tdpib.sec1{
	background-color: rgba(33, 101, 131,1) !important;
}
#tdpib.sec2{
	background-color: rgba(31, 96, 125,1) !important;
}
#tdpib.bg-dark-alfa-70:before, .bg-dark-alfa-70 .YTPOverlay:before{
	transition: 0.2s ease !important;
}
#tdpib.download:hover .bg-dark-alfa-70:before, .bg-dark-alfa-70 .YTPOverlay:before{
	background: rgba(33, 101, 131,0.9) !important;
}
#tdpib.download:hover{
	text-decoration: unset !important;
}
#tdpib.download:hover #text{
	color: #f0d78c !important;
}

/*ELEKTRO*/
.electro-font{
	color: #a8ff3e;
}
.electro-bg{
	background-color: #a8ff3e;
}
#electro.bg-dark-alfa-90:before, .bg-dark-alfa-90 .YTPOverlay:before {
	background: rgba(31, 171, 137,0.8) !important;
}
#electro.sec1{
	background-color: rgba(31, 171, 137,1) !important;
}
#electro.sec2{
	background-color: rgba(29, 150, 121,1) !important;
}
#electro.bg-dark-alfa-70:before, .bg-dark-alfa-70 .YTPOverlay:before{
	transition: 0.2s ease !important;
}
#electro.download:hover .bg-dark-alfa-70:before, .bg-dark-alfa-70 .YTPOverlay:before{
	background: rgba(29, 150, 121,0.9) !important;
}
#electro.download:hover{
	text-decoration: unset !important;
}
#electro.download:hover #text{
	color: #a8ff3e !important;
}

/*LISTRIK*/
.electric-font{
	color: #094a61;
}
.electric-bg{
	background-color: #094a61;
}
#electric.bg-dark-alfa-90:before, .bg-dark-alfa-90 .YTPOverlay:before {
	background: rgba(248, 183, 57,0.7) !important;
}
#electric.sec1{
	background-color: rgba(248, 183, 57,1) !important;
}
#electric.sec2{
	background-color: rgba(242, 176, 48,1) !important;
}
#electric.bg-dark-alfa-70:before, .bg-dark-alfa-70 .YTPOverlay:before{
	transition: 0.2s ease !important;
}
#electric.download:hover .bg-dark-alfa-70:before, .bg-dark-alfa-70 .YTPOverlay:before{
	background: rgba(242, 176, 48,0.9) !important;
}
#electric.download:hover{
	text-decoration: unset !important;
}
#electric.download:hover #text{
	color: #094a61 !important;
}

/*MESIN*/
.engine-font{
	color: #ffdd67;
}
.engine-bg{
	background-color: #ffdd67;
}
#engine.bg-dark-alfa-90:before, .bg-dark-alfa-90 .YTPOverlay:before {
	background: rgba(209, 8, 35,0.7) !important;
}
#engine.sec1{
	background-color: rgba(209, 8, 35,1) !important;
}
#engine.sec2{
	background-color: rgba(189, 6, 30,1) !important;
}
#engine.bg-dark-alfa-70:before, .bg-dark-alfa-70 .YTPOverlay:before{
	transition: 0.2s ease !important;
}
#engine.download:hover .bg-dark-alfa-70:before, .bg-dark-alfa-70 .YTPOverlay:before{
	background: rgba(189, 6, 30,0.9) !important;
}
#engine.download:hover{
	text-decoration: unset !important;
}
#engine.download:hover #text{
	color: #ffdd67 !important;
}

/*OTOMOTIF*/
.automotive-font{
	color: #094a61;
}
.automotive-bg{
	background-color: #094a61;
}
#automotive.bg-dark-alfa-90:before, .bg-dark-alfa-90 .YTPOverlay:before {
	background: rgba(233,219,137,0.7) !important;
}
#automotive.sec1{
	background-color: rgba(233,219,137,1) !important;
}
#automotive.sec2{
	background-color: rgba(222, 208, 131,1) !important;
}
#automotive.bg-dark-alfa-70:before, .bg-dark-alfa-70 .YTPOverlay:before{
	transition: 0.2s ease !important;
}
#automotive.download:hover .bg-dark-alfa-70:before, .bg-dark-alfa-70 .YTPOverlay:before{
	background: rgba(222, 208, 131,0.9) !important;
}
#automotive.download:hover{
	text-decoration: unset !important;
}
#automotive.download:hover #text{
	color: #094a61 !important;
}

/*TKI*/
.tki-font{
	color: #2d3561;
}
.tki-bg{
	background-color: #2d3561;
}
#tki.bg-dark-alfa-90:before, .bg-dark-alfa-90 .YTPOverlay:before {
	background: rgba(245, 130, 71,0.7) !important;
}
#tki.sec1{
	background-color: rgba(245, 130, 71,1) !important;
}
#tki.sec2{
	background-color: rgba(227, 117, 61,1) !important;
}
#tki.bg-dark-alfa-70:before, .bg-dark-alfa-70 .YTPOverlay:before{
	transition: 0.2s ease !important;
}
#tki.download:hover .bg-dark-alfa-70:before, .bg-dark-alfa-70 .YTPOverlay:before{
	background: rgba(227, 117, 61,0.9) !important;
}
#tki.download:hover{
	text-decoration: unset !important;
}
#tki.download:hover #text{
	color: #2d3561 !important;
}

@media only screen and (max-width: 992px){
	.mod-breadcrumbs {
		margin-top: 30px;
	}
	.img-a{
		width: 50% !important;
	}
}
