/*!
 * Font Awesome Free 5.10.2 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
.xa,
.xas,
.xar,
.xal,
.xad,
.xab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1; }

.xa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -.0667em; }

.xa-xs {
  font-size: .75em; }

.xa-sm {
  font-size: .875em; }

.xa-1x {
  font-size: 1em; }

.xa-2x {
  font-size: 2em; }

.xa-3x {
  font-size: 3em; }

.xa-4x {
  font-size: 4em; }

.xa-5x {
  font-size: 5em; }

.xa-6x {
  font-size: 6em; }

.xa-7x {
  font-size: 7em; }

.xa-8x {
  font-size: 8em; }

.xa-9x {
  font-size: 9em; }

.xa-10x {
  font-size: 10em; }

.xa-fw {
  text-align: center;
  width: 1.25em; }

.xa-ul {
  list-style-type: none;
  margin-left: 2.5em;
  padding-left: 0; }
  .xa-ul > li {
    position: relative; }

.xa-li {
  left: -2em;
  position: absolute;
  text-align: center;
  width: 2em;
  line-height: inherit; }

.xa-border {
  border: solid 0.08em #eee;
  border-radius: .1em;
  padding: .2em .25em .15em; }

.xa-pull-left {
  float: left; }

.xa-pull-right {
  float: right; }

.xa.xa-pull-left,
.xas.xa-pull-left,
.xar.xa-pull-left,
.xal.xa-pull-left,
.xab.xa-pull-left {
  margin-right: .3em; }

.xa.xa-pull-right,
.xas.xa-pull-right,
.xar.xa-pull-right,
.xal.xa-pull-right,
.xab.xa-pull-right {
  margin-left: .3em; }

.xa-spin {
  -webkit-animation: xa-spin 2s infinite linear;
          animation: xa-spin 2s infinite linear; }

.xa-pulse {
  -webkit-animation: xa-spin 1s infinite steps(8);
          animation: xa-spin 1s infinite steps(8); }

@-webkit-keyframes xa-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes xa-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.xa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

.xa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

.xa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg); }

.xa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1); }

.xa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
          transform: scale(1, -1); }

.xa-flip-both, .xa-flip-horizontal.xa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(-1, -1);
          transform: scale(-1, -1); }

:root .xa-rotate-90,
:root .xa-rotate-180,
:root .xa-rotate-270,
:root .xa-flip-horizontal,
:root .xa-flip-vertical,
:root .xa-flip-both {
  -webkit-filter: none;
          filter: none; }

.xa-stack {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  width: 2.5em; }

.xa-stack-1x,
.xa-stack-2x {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%; }

.xa-stack-1x {
  line-height: inherit; }

.xa-stack-2x {
  font-size: 2em; }

.xa-inverse {
  color: #fff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
readers do not read off random characters that represent icons */
.xa-500px:before {
  content: "\f26e"; }

.xa-accessible-icon:before {
  content: "\f368"; }

.xa-accusoft:before {
  content: "\f369"; }

.xa-acquisitions-incorporated:before {
  content: "\f6af"; }

.xa-ad:before {
  content: "\f641"; }

.xa-address-book:before {
  content: "\f2b9"; }

.xa-address-card:before {
  content: "\f2bb"; }

.xa-adjust:before {
  content: "\f042"; }

.xa-adn:before {
  content: "\f170"; }

.xa-adobe:before {
  content: "\f778"; }

.xa-adversal:before {
  content: "\f36a"; }

.xa-affiliatetheme:before {
  content: "\f36b"; }

.xa-air-freshener:before {
  content: "\f5d0"; }

.xa-airbnb:before {
  content: "\f834"; }

.xa-algolia:before {
  content: "\f36c"; }

.xa-align-center:before {
  content: "\f037"; }

.xa-align-justify:before {
  content: "\f039"; }

.xa-align-left:before {
  content: "\f036"; }

.xa-align-right:before {
  content: "\f038"; }

.xa-alipay:before {
  content: "\f642"; }

.xa-allergies:before {
  content: "\f461"; }

.xa-amazon:before {
  content: "\f270"; }

.xa-amazon-pay:before {
  content: "\f42c"; }

.xa-ambulance:before {
  content: "\f0f9"; }

.xa-american-sign-language-interpreting:before {
  content: "\f2a3"; }

.xa-amilia:before {
  content: "\f36d"; }

.xa-anchor:before {
  content: "\f13d"; }

.xa-android:before {
  content: "\f17b"; }

.xa-angellist:before {
  content: "\f209"; }

.xa-angle-double-down:before {
  content: "\f103"; }

.xa-angle-double-left:before {
  content: "\f100"; }

.xa-angle-double-right:before {
  content: "\f101"; }

.xa-angle-double-up:before {
  content: "\f102"; }

.xa-angle-down:before {
  content: "\f107"; }

.xa-angle-left:before {
  content: "\f104"; }

.xa-angle-right:before {
  content: "\f105"; }

.xa-angle-up:before {
  content: "\f106"; }

.xa-angry:before {
  content: "\f556"; }

.xa-angrycreative:before {
  content: "\f36e"; }

.xa-angular:before {
  content: "\f420"; }

.xa-ankh:before {
  content: "\f644"; }

.xa-app-store:before {
  content: "\f36f"; }

.xa-app-store-ios:before {
  content: "\f370"; }

.xa-apper:before {
  content: "\f371"; }

.xa-apple:before {
  content: "\f179"; }

.xa-apple-alt:before {
  content: "\f5d1"; }

.xa-apple-pay:before {
  content: "\f415"; }

.xa-archive:before {
  content: "\f187"; }

.xa-archway:before {
  content: "\f557"; }

.xa-arrow-alt-circle-down:before {
  content: "\f358"; }

.xa-arrow-alt-circle-left:before {
  content: "\f359"; }

.xa-arrow-alt-circle-right:before {
  content: "\f35a"; }

.xa-arrow-alt-circle-up:before {
  content: "\f35b"; }

.xa-arrow-circle-down:before {
  content: "\f0ab"; }

.xa-arrow-circle-left:before {
  content: "\f0a8"; }

.xa-arrow-circle-right:before {
  content: "\f0a9"; }

.xa-arrow-circle-up:before {
  content: "\f0aa"; }

.xa-arrow-down:before {
  content: "\f063"; }

.xa-arrow-left:before {
  content: "\f060"; }

.xa-arrow-right:before {
  content: "\f061"; }

.xa-arrow-up:before {
  content: "\f062"; }

.xa-arrows-alt:before {
  content: "\f0b2"; }

.xa-arrows-alt-h:before {
  content: "\f337"; }

.xa-arrows-alt-v:before {
  content: "\f338"; }

.xa-artstation:before {
  content: "\f77a"; }

.xa-assistive-listening-systems:before {
  content: "\f2a2"; }

.xa-asterisk:before {
  content: "\f069"; }

.xa-asymmetrik:before {
  content: "\f372"; }

.xa-at:before {
  content: "\f1fa"; }

.xa-atlas:before {
  content: "\f558"; }

.xa-atlassian:before {
  content: "\f77b"; }

.xa-atom:before {
  content: "\f5d2"; }

.xa-audible:before {
  content: "\f373"; }

.xa-audio-description:before {
  content: "\f29e"; }

.xa-autoprefixer:before {
  content: "\f41c"; }

.xa-avianex:before {
  content: "\f374"; }

.xa-aviato:before {
  content: "\f421"; }

.xa-award:before {
  content: "\f559"; }

.xa-aws:before {
  content: "\f375"; }

.xa-baby:before {
  content: "\f77c"; }

.xa-baby-carriage:before {
  content: "\f77d"; }

.xa-backspace:before {
  content: "\f55a"; }

.xa-backward:before {
  content: "\f04a"; }

.xa-bacon:before {
  content: "\f7e5"; }

.xa-balance-scale:before {
  content: "\f24e"; }

.xa-balance-scale-left:before {
  content: "\f515"; }

.xa-balance-scale-right:before {
  content: "\f516"; }

.xa-ban:before {
  content: "\f05e"; }

.xa-band-aid:before {
  content: "\f462"; }

.xa-bandcamp:before {
  content: "\f2d5"; }

.xa-barcode:before {
  content: "\f02a"; }

.xa-bars:before {
  content: "\f0c9"; }

.xa-baseball-ball:before {
  content: "\f433"; }

.xa-basketball-ball:before {
  content: "\f434"; }

.xa-bath:before {
  content: "\f2cd"; }

.xa-battery-empty:before {
  content: "\f244"; }

.xa-battery-full:before {
  content: "\f240"; }

.xa-battery-half:before {
  content: "\f242"; }

.xa-battery-quarter:before {
  content: "\f243"; }

.xa-battery-three-quarters:before {
  content: "\f241"; }

.xa-battle-net:before {
  content: "\f835"; }

.xa-bed:before {
  content: "\f236"; }

.xa-beer:before {
  content: "\f0fc"; }

.xa-behance:before {
  content: "\f1b4"; }

.xa-behance-square:before {
  content: "\f1b5"; }

.xa-bell:before {
  content: "\f0f3"; }

.xa-bell-slash:before {
  content: "\f1f6"; }

.xa-bezier-curve:before {
  content: "\f55b"; }

.xa-bible:before {
  content: "\f647"; }

.xa-bicycle:before {
  content: "\f206"; }

.xa-biking:before {
  content: "\f84a"; }

.xa-bimobject:before {
  content: "\f378"; }

.xa-binoculars:before {
  content: "\f1e5"; }

.xa-biohazard:before {
  content: "\f780"; }

.xa-birthday-cake:before {
  content: "\f1fd"; }

.xa-bitbucket:before {
  content: "\f171"; }

.xa-bitcoin:before {
  content: "\f379"; }

.xa-bity:before {
  content: "\f37a"; }

.xa-black-tie:before {
  content: "\f27e"; }

.xa-blackberry:before {
  content: "\f37b"; }

.xa-blender:before {
  content: "\f517"; }

.xa-blender-phone:before {
  content: "\f6b6"; }

.xa-blind:before {
  content: "\f29d"; }

.xa-blog:before {
  content: "\f781"; }

.xa-blogger:before {
  content: "\f37c"; }

.xa-blogger-b:before {
  content: "\f37d"; }

.xa-bluetooth:before {
  content: "\f293"; }

.xa-bluetooth-b:before {
  content: "\f294"; }

.xa-bold:before {
  content: "\f032"; }

.xa-bolt:before {
  content: "\f0e7"; }

.xa-bomb:before {
  content: "\f1e2"; }

.xa-bone:before {
  content: "\f5d7"; }

.xa-bong:before {
  content: "\f55c"; }

.xa-book:before {
  content: "\f02d"; }

.xa-book-dead:before {
  content: "\f6b7"; }

.xa-book-medical:before {
  content: "\f7e6"; }

.xa-book-open:before {
  content: "\f518"; }

.xa-book-reader:before {
  content: "\f5da"; }

.xa-bookmark:before {
  content: "\f02e"; }

.xa-bootstrap:before {
  content: "\f836"; }

.xa-border-all:before {
  content: "\f84c"; }

.xa-border-none:before {
  content: "\f850"; }

.xa-border-style:before {
  content: "\f853"; }

.xa-bowling-ball:before {
  content: "\f436"; }

.xa-box:before {
  content: "\f466"; }

.xa-box-open:before {
  content: "\f49e"; }

.xa-boxes:before {
  content: "\f468"; }

.xa-braille:before {
  content: "\f2a1"; }

.xa-brain:before {
  content: "\f5dc"; }

.xa-bread-slice:before {
  content: "\f7ec"; }

.xa-briefcase:before {
  content: "\f0b1"; }

.xa-briefcase-medical:before {
  content: "\f469"; }

.xa-broadcast-tower:before {
  content: "\f519"; }

.xa-broom:before {
  content: "\f51a"; }

.xa-brush:before {
  content: "\f55d"; }

.xa-btc:before {
  content: "\f15a"; }

.xa-buffer:before {
  content: "\f837"; }

.xa-bug:before {
  content: "\f188"; }

.xa-building:before {
  content: "\f1ad"; }

.xa-bullhorn:before {
  content: "\f0a1"; }

.xa-bullseye:before {
  content: "\f140"; }

.xa-burn:before {
  content: "\f46a"; }

.xa-buromobelexperte:before {
  content: "\f37f"; }

.xa-bus:before {
  content: "\f207"; }

.xa-bus-alt:before {
  content: "\f55e"; }

.xa-business-time:before {
  content: "\f64a"; }

.xa-buysellads:before {
  content: "\f20d"; }

.xa-calculator:before {
  content: "\f1ec"; }

.xa-calendar:before {
  content: "\f133"; }

.xa-calendar-alt:before {
  content: "\f073"; }

.xa-calendar-check:before {
  content: "\f274"; }

.xa-calendar-day:before {
  content: "\f783"; }

.xa-calendar-minus:before {
  content: "\f272"; }

.xa-calendar-plus:before {
  content: "\f271"; }

.xa-calendar-times:before {
  content: "\f273"; }

.xa-calendar-week:before {
  content: "\f784"; }

.xa-camera:before {
  content: "\f030"; }

.xa-camera-retro:before {
  content: "\f083"; }

.xa-campground:before {
  content: "\f6bb"; }

.xa-canadian-maple-leaf:before {
  content: "\f785"; }

.xa-candy-cane:before {
  content: "\f786"; }

.xa-cannabis:before {
  content: "\f55f"; }

.xa-capsules:before {
  content: "\f46b"; }

.xa-car:before {
  content: "\f1b9"; }

.xa-car-alt:before {
  content: "\f5de"; }

.xa-car-battery:before {
  content: "\f5df"; }

.xa-car-crash:before {
  content: "\f5e1"; }

.xa-car-side:before {
  content: "\f5e4"; }

.xa-caret-down:before {
  content: "\f0d7"; }

.xa-caret-left:before {
  content: "\f0d9"; }

.xa-caret-right:before {
  content: "\f0da"; }

.xa-caret-square-down:before {
  content: "\f150"; }

.xa-caret-square-left:before {
  content: "\f191"; }

.xa-caret-square-right:before {
  content: "\f152"; }

.xa-caret-square-up:before {
  content: "\f151"; }

.xa-caret-up:before {
  content: "\f0d8"; }

.xa-carrot:before {
  content: "\f787"; }

.xa-cart-arrow-down:before {
  content: "\f218"; }

.xa-cart-plus:before {
  content: "\f217"; }

.xa-cash-register:before {
  content: "\f788"; }

.xa-cat:before {
  content: "\f6be"; }

.xa-cc-amazon-pay:before {
  content: "\f42d"; }

.xa-cc-amex:before {
  content: "\f1f3"; }

.xa-cc-apple-pay:before {
  content: "\f416"; }

.xa-cc-diners-club:before {
  content: "\f24c"; }

.xa-cc-discover:before {
  content: "\f1f2"; }

.xa-cc-jcb:before {
  content: "\f24b"; }

.xa-cc-mastercard:before {
  content: "\f1f1"; }

.xa-cc-paypal:before {
  content: "\f1f4"; }

.xa-cc-stripe:before {
  content: "\f1f5"; }

.xa-cc-visa:before {
  content: "\f1f0"; }

.xa-centercode:before {
  content: "\f380"; }

.xa-centos:before {
  content: "\f789"; }

.xa-certificate:before {
  content: "\f0a3"; }

.xa-chair:before {
  content: "\f6c0"; }

.xa-chalkboard:before {
  content: "\f51b"; }

.xa-chalkboard-teacher:before {
  content: "\f51c"; }

.xa-charging-station:before {
  content: "\f5e7"; }

.xa-chart-area:before {
  content: "\f1fe"; }

.xa-chart-bar:before {
  content: "\f080"; }

.xa-chart-line:before {
  content: "\f201"; }

.xa-chart-pie:before {
  content: "\f200"; }

.xa-check:before {
  content: "\f00c"; }

.xa-check-circle:before {
  content: "\f058"; }

.xa-check-double:before {
  content: "\f560"; }

.xa-check-square:before {
  content: "\f14a"; }

.xa-cheese:before {
  content: "\f7ef"; }

.xa-chess:before {
  content: "\f439"; }

.xa-chess-bishop:before {
  content: "\f43a"; }

.xa-chess-board:before {
  content: "\f43c"; }

.xa-chess-king:before {
  content: "\f43f"; }

.xa-chess-knight:before {
  content: "\f441"; }

.xa-chess-pawn:before {
  content: "\f443"; }

.xa-chess-queen:before {
  content: "\f445"; }

.xa-chess-rook:before {
  content: "\f447"; }

.xa-chevron-circle-down:before {
  content: "\f13a"; }

.xa-chevron-circle-left:before {
  content: "\f137"; }

.xa-chevron-circle-right:before {
  content: "\f138"; }

.xa-chevron-circle-up:before {
  content: "\f139"; }

.xa-chevron-down:before {
  content: "\f078"; }

.xa-chevron-left:before {
  content: "\f053"; }

.xa-chevron-right:before {
  content: "\f054"; }

.xa-chevron-up:before {
  content: "\f077"; }

.xa-child:before {
  content: "\f1ae"; }

.xa-chrome:before {
  content: "\f268"; }

.xa-chromecast:before {
  content: "\f838"; }

.xa-church:before {
  content: "\f51d"; }

.xa-circle:before {
  content: "\f111"; }

.xa-circle-notch:before {
  content: "\f1ce"; }

.xa-city:before {
  content: "\f64f"; }

.xa-clinic-medical:before {
  content: "\f7f2"; }

.xa-clipboard:before {
  content: "\f328"; }

.xa-clipboard-check:before {
  content: "\f46c"; }

.xa-clipboard-list:before {
  content: "\f46d"; }

.xa-clock:before {
  content: "\f017"; }

.xa-clone:before {
  content: "\f24d"; }

.xa-closed-captioning:before {
  content: "\f20a"; }

.xa-cloud:before {
  content: "\f0c2"; }

.xa-cloud-download-alt:before {
  content: "\f381"; }

.xa-cloud-meatball:before {
  content: "\f73b"; }

.xa-cloud-moon:before {
  content: "\f6c3"; }

.xa-cloud-moon-rain:before {
  content: "\f73c"; }

.xa-cloud-rain:before {
  content: "\f73d"; }

.xa-cloud-showers-heavy:before {
  content: "\f740"; }

.xa-cloud-sun:before {
  content: "\f6c4"; }

.xa-cloud-sun-rain:before {
  content: "\f743"; }

.xa-cloud-upload-alt:before {
  content: "\f382"; }

.xa-cloudscale:before {
  content: "\f383"; }

.xa-cloudsmith:before {
  content: "\f384"; }

.xa-cloudversify:before {
  content: "\f385"; }

.xa-cocktail:before {
  content: "\f561"; }

.xa-code:before {
  content: "\f121"; }

.xa-code-branch:before {
  content: "\f126"; }

.xa-codepen:before {
  content: "\f1cb"; }

.xa-codiepie:before {
  content: "\f284"; }

.xa-coffee:before {
  content: "\f0f4"; }

.xa-cog:before {
  content: "\f013"; }

.xa-cogs:before {
  content: "\f085"; }

.xa-coins:before {
  content: "\f51e"; }

.xa-columns:before {
  content: "\f0db"; }

.xa-comment:before {
  content: "\f075"; }

.xa-comment-alt:before {
  content: "\f27a"; }

.xa-comment-dollar:before {
  content: "\f651"; }

.xa-comment-dots:before {
  content: "\f4ad"; }

.xa-comment-medical:before {
  content: "\f7f5"; }

.xa-comment-slash:before {
  content: "\f4b3"; }

.xa-comments:before {
  content: "\f086"; }

.xa-comments-dollar:before {
  content: "\f653"; }

.xa-compact-disc:before {
  content: "\f51f"; }

.xa-compass:before {
  content: "\f14e"; }

.xa-compress:before {
  content: "\f066"; }

.xa-compress-arrows-alt:before {
  content: "\f78c"; }

.xa-concierge-bell:before {
  content: "\f562"; }

.xa-confluence:before {
  content: "\f78d"; }

.xa-connectdevelop:before {
  content: "\f20e"; }

.xa-contao:before {
  content: "\f26d"; }

.xa-cookie:before {
  content: "\f563"; }

.xa-cookie-bite:before {
  content: "\f564"; }

.xa-copy:before {
  content: "\f0c5"; }

.xa-copyright:before {
  content: "\f1f9"; }

.xa-cotton-bureau:before {
  content: "\f89e"; }

.xa-couch:before {
  content: "\f4b8"; }

.xa-cpanel:before {
  content: "\f388"; }

.xa-creative-commons:before {
  content: "\f25e"; }

.xa-creative-commons-by:before {
  content: "\f4e7"; }

.xa-creative-commons-nc:before {
  content: "\f4e8"; }

.xa-creative-commons-nc-eu:before {
  content: "\f4e9"; }

.xa-creative-commons-nc-jp:before {
  content: "\f4ea"; }

.xa-creative-commons-nd:before {
  content: "\f4eb"; }

.xa-creative-commons-pd:before {
  content: "\f4ec"; }

.xa-creative-commons-pd-alt:before {
  content: "\f4ed"; }

.xa-creative-commons-remix:before {
  content: "\f4ee"; }

.xa-creative-commons-sa:before {
  content: "\f4ef"; }

.xa-creative-commons-sampling:before {
  content: "\f4f0"; }

.xa-creative-commons-sampling-plus:before {
  content: "\f4f1"; }

.xa-creative-commons-share:before {
  content: "\f4f2"; }

.xa-creative-commons-zero:before {
  content: "\f4f3"; }

.xa-credit-card:before {
  content: "\f09d"; }

.xa-critical-role:before {
  content: "\f6c9"; }

.xa-crop:before {
  content: "\f125"; }

.xa-crop-alt:before {
  content: "\f565"; }

.xa-cross:before {
  content: "\f654"; }

.xa-crosshairs:before {
  content: "\f05b"; }

.xa-crow:before {
  content: "\f520"; }

.xa-crown:before {
  content: "\f521"; }

.xa-crutch:before {
  content: "\f7f7"; }

.xa-css3:before {
  content: "\f13c"; }

.xa-css3-alt:before {
  content: "\f38b"; }

.xa-cube:before {
  content: "\f1b2"; }

.xa-cubes:before {
  content: "\f1b3"; }

.xa-cut:before {
  content: "\f0c4"; }

.xa-cuttlefish:before {
  content: "\f38c"; }

.xa-d-and-d:before {
  content: "\f38d"; }

.xa-d-and-d-beyond:before {
  content: "\f6ca"; }

.xa-dashcube:before {
  content: "\f210"; }

.xa-database:before {
  content: "\f1c0"; }

.xa-deaf:before {
  content: "\f2a4"; }

.xa-delicious:before {
  content: "\f1a5"; }

.xa-democrat:before {
  content: "\f747"; }

.xa-deploydog:before {
  content: "\f38e"; }

.xa-deskpro:before {
  content: "\f38f"; }

.xa-desktop:before {
  content: "\f108"; }

.xa-dev:before {
  content: "\f6cc"; }

.xa-deviantart:before {
  content: "\f1bd"; }

.xa-dharmachakra:before {
  content: "\f655"; }

.xa-dhl:before {
  content: "\f790"; }

.xa-diagnoses:before {
  content: "\f470"; }

.xa-diaspora:before {
  content: "\f791"; }

.xa-dice:before {
  content: "\f522"; }

.xa-dice-d20:before {
  content: "\f6cf"; }

.xa-dice-d6:before {
  content: "\f6d1"; }

.xa-dice-five:before {
  content: "\f523"; }

.xa-dice-four:before {
  content: "\f524"; }

.xa-dice-one:before {
  content: "\f525"; }

.xa-dice-six:before {
  content: "\f526"; }

.xa-dice-three:before {
  content: "\f527"; }

.xa-dice-two:before {
  content: "\f528"; }

.xa-digg:before {
  content: "\f1a6"; }

.xa-digital-ocean:before {
  content: "\f391"; }

.xa-digital-tachograph:before {
  content: "\f566"; }

.xa-directions:before {
  content: "\f5eb"; }

.xa-discord:before {
  content: "\f392"; }

.xa-discourse:before {
  content: "\f393"; }

.xa-divide:before {
  content: "\f529"; }

.xa-dizzy:before {
  content: "\f567"; }

.xa-dna:before {
  content: "\f471"; }

.xa-dochub:before {
  content: "\f394"; }

.xa-docker:before {
  content: "\f395"; }

.xa-dog:before {
  content: "\f6d3"; }

.xa-dollar-sign:before {
  content: "\f155"; }

.xa-dolly:before {
  content: "\f472"; }

.xa-dolly-flatbed:before {
  content: "\f474"; }

.xa-donate:before {
  content: "\f4b9"; }

.xa-door-closed:before {
  content: "\f52a"; }

.xa-door-open:before {
  content: "\f52b"; }

.xa-dot-circle:before {
  content: "\f192"; }

.xa-dove:before {
  content: "\f4ba"; }

.xa-download:before {
  content: "\f019"; }

.xa-draft2digital:before {
  content: "\f396"; }

.xa-drafting-compass:before {
  content: "\f568"; }

.xa-dragon:before {
  content: "\f6d5"; }

.xa-draw-polygon:before {
  content: "\f5ee"; }

.xa-dribbble:before {
  content: "\f17d"; }

.xa-dribbble-square:before {
  content: "\f397"; }

.xa-dropbox:before {
  content: "\f16b"; }

.xa-drum:before {
  content: "\f569"; }

.xa-drum-steelpan:before {
  content: "\f56a"; }

.xa-drumstick-bite:before {
  content: "\f6d7"; }

.xa-drupal:before {
  content: "\f1a9"; }

.xa-dumbbell:before {
  content: "\f44b"; }

.xa-dumpster:before {
  content: "\f793"; }

.xa-dumpster-fire:before {
  content: "\f794"; }

.xa-dungeon:before {
  content: "\f6d9"; }

.xa-dyalog:before {
  content: "\f399"; }

.xa-earlybirds:before {
  content: "\f39a"; }

.xa-ebay:before {
  content: "\f4f4"; }

.xa-edge:before {
  content: "\f282"; }

.xa-edit:before {
  content: "\f044"; }

.xa-egg:before {
  content: "\f7fb"; }

.xa-eject:before {
  content: "\f052"; }

.xa-elementor:before {
  content: "\f430"; }

.xa-ellipsis-h:before {
  content: "\f141"; }

.xa-ellipsis-v:before {
  content: "\f142"; }

.xa-ello:before {
  content: "\f5f1"; }

.xa-ember:before {
  content: "\f423"; }

.xa-empire:before {
  content: "\f1d1"; }

.xa-envelope:before {
  content: "\f0e0"; }

.xa-envelope-open:before {
  content: "\f2b6"; }

.xa-envelope-open-text:before {
  content: "\f658"; }

.xa-envelope-square:before {
  content: "\f199"; }

.xa-envira:before {
  content: "\f299"; }

.xa-equals:before {
  content: "\f52c"; }

.xa-eraser:before {
  content: "\f12d"; }

.xa-erlang:before {
  content: "\f39d"; }

.xa-ethereum:before {
  content: "\f42e"; }

.xa-ethernet:before {
  content: "\f796"; }

.xa-etsy:before {
  content: "\f2d7"; }

.xa-euro-sign:before {
  content: "\f153"; }

.xa-evernote:before {
  content: "\f839"; }

.xa-exchange-alt:before {
  content: "\f362"; }

.xa-exclamation:before {
  content: "\f12a"; }

.xa-exclamation-circle:before {
  content: "\f06a"; }

.xa-exclamation-triangle:before {
  content: "\f071"; }

.xa-expand:before {
  content: "\f065"; }

.xa-expand-arrows-alt:before {
  content: "\f31e"; }

.xa-expeditedssl:before {
  content: "\f23e"; }

.xa-external-link-alt:before {
  content: "\f35d"; }

.xa-external-link-square-alt:before {
  content: "\f360"; }

.xa-eye:before {
  content: "\f06e"; }

.xa-eye-dropper:before {
  content: "\f1fb"; }

.xa-eye-slash:before {
  content: "\f070"; }

.xa-facebook:before {
  content: "\f09a"; }

.xa-facebook-f:before {
  content: "\f39e"; }

.xa-facebook-messenger:before {
  content: "\f39f"; }

.xa-facebook-square:before {
  content: "\f082"; }

.xa-fan:before {
  content: "\f863"; }

.xa-fantasy-flight-games:before {
  content: "\f6dc"; }

.xa-fast-backward:before {
  content: "\f049"; }

.xa-fast-forward:before {
  content: "\f050"; }

.xa-fax:before {
  content: "\f1ac"; }

.xa-feather:before {
  content: "\f52d"; }

.xa-feather-alt:before {
  content: "\f56b"; }

.xa-fedex:before {
  content: "\f797"; }

.xa-fedora:before {
  content: "\f798"; }

.xa-female:before {
  content: "\f182"; }

.xa-fighter-jet:before {
  content: "\f0fb"; }

.xa-figma:before {
  content: "\f799"; }

.xa-file:before {
  content: "\f15b"; }

.xa-file-alt:before {
  content: "\f15c"; }

.xa-file-archive:before {
  content: "\f1c6"; }

.xa-file-audio:before {
  content: "\f1c7"; }

.xa-file-code:before {
  content: "\f1c9"; }

.xa-file-contract:before {
  content: "\f56c"; }

.xa-file-csv:before {
  content: "\f6dd"; }

.xa-file-download:before {
  content: "\f56d"; }

.xa-file-excel:before {
  content: "\f1c3"; }

.xa-file-export:before {
  content: "\f56e"; }

.xa-file-image:before {
  content: "\f1c5"; }

.xa-file-import:before {
  content: "\f56f"; }

.xa-file-invoice:before {
  content: "\f570"; }

.xa-file-invoice-dollar:before {
  content: "\f571"; }

.xa-file-medical:before {
  content: "\f477"; }

.xa-file-medical-alt:before {
  content: "\f478"; }

.xa-file-pdf:before {
  content: "\f1c1"; }

.xa-file-powerpoint:before {
  content: "\f1c4"; }

.xa-file-prescription:before {
  content: "\f572"; }

.xa-file-signature:before {
  content: "\f573"; }

.xa-file-upload:before {
  content: "\f574"; }

.xa-file-video:before {
  content: "\f1c8"; }

.xa-file-word:before {
  content: "\f1c2"; }

.xa-fill:before {
  content: "\f575"; }

.xa-fill-drip:before {
  content: "\f576"; }

.xa-film:before {
  content: "\f008"; }

.xa-filter:before {
  content: "\f0b0"; }

.xa-fingerprint:before {
  content: "\f577"; }

.xa-fire:before {
  content: "\f06d"; }

.xa-fire-alt:before {
  content: "\f7e4"; }

.xa-fire-extinguisher:before {
  content: "\f134"; }

.xa-firefox:before {
  content: "\f269"; }

.xa-first-aid:before {
  content: "\f479"; }

.xa-first-order:before {
  content: "\f2b0"; }

.xa-first-order-alt:before {
  content: "\f50a"; }

.xa-firstdraft:before {
  content: "\f3a1"; }

.xa-fish:before {
  content: "\f578"; }

.xa-fist-raised:before {
  content: "\f6de"; }

.xa-flag:before {
  content: "\f024"; }

.xa-flag-checkered:before {
  content: "\f11e"; }

.xa-flag-usa:before {
  content: "\f74d"; }

.xa-flask:before {
  content: "\f0c3"; }

.xa-flickr:before {
  content: "\f16e"; }

.xa-flipboard:before {
  content: "\f44d"; }

.xa-flushed:before {
  content: "\f579"; }

.xa-fly:before {
  content: "\f417"; }

.xa-folder:before {
  content: "\f07b"; }

.xa-folder-minus:before {
  content: "\f65d"; }

.xa-folder-open:before {
  content: "\f07c"; }

.xa-folder-plus:before {
  content: "\f65e"; }

.xa-font:before {
  content: "\f031"; }

.xa-font-awesome:before {
  content: "\f2b4"; }

.xa-font-awesome-alt:before {
  content: "\f35c"; }

.xa-font-awesome-flag:before {
  content: "\f425"; }

.xa-font-awesome-logo-full:before {
  content: "\f4e6"; }

.xa-fonticons:before {
  content: "\f280"; }

.xa-fonticons-fi:before {
  content: "\f3a2"; }

.xa-football-ball:before {
  content: "\f44e"; }

.xa-fort-awesome:before {
  content: "\f286"; }

.xa-fort-awesome-alt:before {
  content: "\f3a3"; }

.xa-forumbee:before {
  content: "\f211"; }

.xa-forward:before {
  content: "\f04e"; }

.xa-foursquare:before {
  content: "\f180"; }

.xa-free-code-camp:before {
  content: "\f2c5"; }

.xa-freebsd:before {
  content: "\f3a4"; }

.xa-frog:before {
  content: "\f52e"; }

.xa-frown:before {
  content: "\f119"; }

.xa-frown-open:before {
  content: "\f57a"; }

.xa-fulcrum:before {
  content: "\f50b"; }

.xa-funnel-dollar:before {
  content: "\f662"; }

.xa-futbol:before {
  content: "\f1e3"; }

.xa-galactic-republic:before {
  content: "\f50c"; }

.xa-galactic-senate:before {
  content: "\f50d"; }

.xa-gamepad:before {
  content: "\f11b"; }

.xa-gas-pump:before {
  content: "\f52f"; }

.xa-gavel:before {
  content: "\f0e3"; }

.xa-gem:before {
  content: "\f3a5"; }

.xa-genderless:before {
  content: "\f22d"; }

.xa-get-pocket:before {
  content: "\f265"; }

.xa-gg:before {
  content: "\f260"; }

.xa-gg-circle:before {
  content: "\f261"; }

.xa-ghost:before {
  content: "\f6e2"; }

.xa-gift:before {
  content: "\f06b"; }

.xa-gifts:before {
  content: "\f79c"; }

.xa-git:before {
  content: "\f1d3"; }

.xa-git-alt:before {
  content: "\f841"; }

.xa-git-square:before {
  content: "\f1d2"; }

.xa-github:before {
  content: "\f09b"; }

.xa-github-alt:before {
  content: "\f113"; }

.xa-github-square:before {
  content: "\f092"; }

.xa-gitkraken:before {
  content: "\f3a6"; }

.xa-gitlab:before {
  content: "\f296"; }

.xa-gitter:before {
  content: "\f426"; }

.xa-glass-cheers:before {
  content: "\f79f"; }

.xa-glass-martini:before {
  content: "\f000"; }

.xa-glass-martini-alt:before {
  content: "\f57b"; }

.xa-glass-whiskey:before {
  content: "\f7a0"; }

.xa-glasses:before {
  content: "\f530"; }

.xa-glide:before {
  content: "\f2a5"; }

.xa-glide-g:before {
  content: "\f2a6"; }

.xa-globe:before {
  content: "\f0ac"; }

.xa-globe-africa:before {
  content: "\f57c"; }

.xa-globe-americas:before {
  content: "\f57d"; }

.xa-globe-asia:before {
  content: "\f57e"; }

.xa-globe-europe:before {
  content: "\f7a2"; }

.xa-gofore:before {
  content: "\f3a7"; }

.xa-golf-ball:before {
  content: "\f450"; }

.xa-goodreads:before {
  content: "\f3a8"; }

.xa-goodreads-g:before {
  content: "\f3a9"; }

.xa-google:before {
  content: "\f1a0"; }

.xa-google-drive:before {
  content: "\f3aa"; }

.xa-google-play:before {
  content: "\f3ab"; }

.xa-google-plus:before {
  content: "\f2b3"; }

.xa-google-plus-g:before {
  content: "\f0d5"; }

.xa-google-plus-square:before {
  content: "\f0d4"; }

.xa-google-wallet:before {
  content: "\f1ee"; }

.xa-gopuram:before {
  content: "\f664"; }

.xa-graduation-cap:before {
  content: "\f19d"; }

.xa-gratipay:before {
  content: "\f184"; }

.xa-grav:before {
  content: "\f2d6"; }

.xa-greater-than:before {
  content: "\f531"; }

.xa-greater-than-equal:before {
  content: "\f532"; }

.xa-grimace:before {
  content: "\f57f"; }

.xa-grin:before {
  content: "\f580"; }

.xa-grin-alt:before {
  content: "\f581"; }

.xa-grin-beam:before {
  content: "\f582"; }

.xa-grin-beam-sweat:before {
  content: "\f583"; }

.xa-grin-hearts:before {
  content: "\f584"; }

.xa-grin-squint:before {
  content: "\f585"; }

.xa-grin-squint-tears:before {
  content: "\f586"; }

.xa-grin-stars:before {
  content: "\f587"; }

.xa-grin-tears:before {
  content: "\f588"; }

.xa-grin-tongue:before {
  content: "\f589"; }

.xa-grin-tongue-squint:before {
  content: "\f58a"; }

.xa-grin-tongue-wink:before {
  content: "\f58b"; }

.xa-grin-wink:before {
  content: "\f58c"; }

.xa-grip-horizontal:before {
  content: "\f58d"; }

.xa-grip-lines:before {
  content: "\f7a4"; }

.xa-grip-lines-vertical:before {
  content: "\f7a5"; }

.xa-grip-vertical:before {
  content: "\f58e"; }

.xa-gripfire:before {
  content: "\f3ac"; }

.xa-grunt:before {
  content: "\f3ad"; }

.xa-guitar:before {
  content: "\f7a6"; }

.xa-gulp:before {
  content: "\f3ae"; }

.xa-h-square:before {
  content: "\f0fd"; }

.xa-hacker-news:before {
  content: "\f1d4"; }

.xa-hacker-news-square:before {
  content: "\f3af"; }

.xa-hackerrank:before {
  content: "\f5f7"; }

.xa-hamburger:before {
  content: "\f805"; }

.xa-hammer:before {
  content: "\f6e3"; }

.xa-hamsa:before {
  content: "\f665"; }

.xa-hand-holding:before {
  content: "\f4bd"; }

.xa-hand-holding-heart:before {
  content: "\f4be"; }

.xa-hand-holding-usd:before {
  content: "\f4c0"; }

.xa-hand-lizard:before {
  content: "\f258"; }

.xa-hand-middle-finger:before {
  content: "\f806"; }

.xa-hand-paper:before {
  content: "\f256"; }

.xa-hand-peace:before {
  content: "\f25b"; }

.xa-hand-point-down:before {
  content: "\f0a7"; }

.xa-hand-point-left:before {
  content: "\f0a5"; }

.xa-hand-point-right:before {
  content: "\f0a4"; }

.xa-hand-point-up:before {
  content: "\f0a6"; }

.xa-hand-pointer:before {
  content: "\f25a"; }

.xa-hand-rock:before {
  content: "\f255"; }

.xa-hand-scissors:before {
  content: "\f257"; }

.xa-hand-spock:before {
  content: "\f259"; }

.xa-hands:before {
  content: "\f4c2"; }

.xa-hands-helping:before {
  content: "\f4c4"; }

.xa-handshake:before {
  content: "\f2b5"; }

.xa-hanukiah:before {
  content: "\f6e6"; }

.xa-hard-hat:before {
  content: "\f807"; }

.xa-hashtag:before {
  content: "\f292"; }

.xa-hat-wizard:before {
  content: "\f6e8"; }

.xa-haykal:before {
  content: "\f666"; }

.xa-hdd:before {
  content: "\f0a0"; }

.xa-heading:before {
  content: "\f1dc"; }

.xa-headphones:before {
  content: "\f025"; }

.xa-headphones-alt:before {
  content: "\f58f"; }

.xa-headset:before {
  content: "\f590"; }

.xa-heart:before {
  content: "\f004"; }

.xa-heart-broken:before {
  content: "\f7a9"; }

.xa-heartbeat:before {
  content: "\f21e"; }

.xa-helicopter:before {
  content: "\f533"; }

.xa-highlighter:before {
  content: "\f591"; }

.xa-hiking:before {
  content: "\f6ec"; }

.xa-hippo:before {
  content: "\f6ed"; }

.xa-hips:before {
  content: "\f452"; }

.xa-hire-a-helper:before {
  content: "\f3b0"; }

.xa-history:before {
  content: "\f1da"; }

.xa-hockey-puck:before {
  content: "\f453"; }

.xa-holly-berry:before {
  content: "\f7aa"; }

.xa-home:before {
  content: "\f015"; }

.xa-hooli:before {
  content: "\f427"; }

.xa-hornbill:before {
  content: "\f592"; }

.xa-horse:before {
  content: "\f6f0"; }

.xa-horse-head:before {
  content: "\f7ab"; }

.xa-hospital:before {
  content: "\f0f8"; }

.xa-hospital-alt:before {
  content: "\f47d"; }

.xa-hospital-symbol:before {
  content: "\f47e"; }

.xa-hot-tub:before {
  content: "\f593"; }

.xa-hotdog:before {
  content: "\f80f"; }

.xa-hotel:before {
  content: "\f594"; }

.xa-hotjar:before {
  content: "\f3b1"; }

.xa-hourglass:before {
  content: "\f254"; }

.xa-hourglass-end:before {
  content: "\f253"; }

.xa-hourglass-half:before {
  content: "\f252"; }

.xa-hourglass-start:before {
  content: "\f251"; }

.xa-house-damage:before {
  content: "\f6f1"; }

.xa-houzz:before {
  content: "\f27c"; }

.xa-hryvnia:before {
  content: "\f6f2"; }

.xa-html5:before {
  content: "\f13b"; }

.xa-hubspot:before {
  content: "\f3b2"; }

.xa-i-cursor:before {
  content: "\f246"; }

.xa-ice-cream:before {
  content: "\f810"; }

.xa-icicles:before {
  content: "\f7ad"; }

.xa-icons:before {
  content: "\f86d"; }

.xa-id-badge:before {
  content: "\f2c1"; }

.xa-id-card:before {
  content: "\f2c2"; }

.xa-id-card-alt:before {
  content: "\f47f"; }

.xa-igloo:before {
  content: "\f7ae"; }

.xa-image:before {
  content: "\f03e"; }

.xa-images:before {
  content: "\f302"; }

.xa-imdb:before {
  content: "\f2d8"; }

.xa-inbox:before {
  content: "\f01c"; }

.xa-indent:before {
  content: "\f03c"; }

.xa-industry:before {
  content: "\f275"; }

.xa-infinity:before {
  content: "\f534"; }

.xa-info:before {
  content: "\f129"; }

.xa-info-circle:before {
  content: "\f05a"; }

.xa-instagram:before {
  content: "\f16d"; }

.xa-intercom:before {
  content: "\f7af"; }

.xa-internet-explorer:before {
  content: "\f26b"; }

.xa-invision:before {
  content: "\f7b0"; }

.xa-ioxhost:before {
  content: "\f208"; }

.xa-italic:before {
  content: "\f033"; }

.xa-itch-io:before {
  content: "\f83a"; }

.xa-itunes:before {
  content: "\f3b4"; }

.xa-itunes-note:before {
  content: "\f3b5"; }

.xa-java:before {
  content: "\f4e4"; }

.xa-jedi:before {
  content: "\f669"; }

.xa-jedi-order:before {
  content: "\f50e"; }

.xa-jenkins:before {
  content: "\f3b6"; }

.xa-jira:before {
  content: "\f7b1"; }

.xa-joget:before {
  content: "\f3b7"; }

.xa-joint:before {
  content: "\f595"; }

.xa-joomla:before {
  content: "\f1aa"; }

.xa-journal-whills:before {
  content: "\f66a"; }

.xa-js:before {
  content: "\f3b8"; }

.xa-js-square:before {
  content: "\f3b9"; }

.xa-jsfiddle:before {
  content: "\f1cc"; }

.xa-kaaba:before {
  content: "\f66b"; }

.xa-kaggle:before {
  content: "\f5fa"; }

.xa-key:before {
  content: "\f084"; }

.xa-keybase:before {
  content: "\f4f5"; }

.xa-keyboard:before {
  content: "\f11c"; }

.xa-keycdn:before {
  content: "\f3ba"; }

.xa-khanda:before {
  content: "\f66d"; }

.xa-kickstarter:before {
  content: "\f3bb"; }

.xa-kickstarter-k:before {
  content: "\f3bc"; }

.xa-kiss:before {
  content: "\f596"; }

.xa-kiss-beam:before {
  content: "\f597"; }

.xa-kiss-wink-heart:before {
  content: "\f598"; }

.xa-kiwi-bird:before {
  content: "\f535"; }

.xa-korvue:before {
  content: "\f42f"; }

.xa-landmark:before {
  content: "\f66f"; }

.xa-language:before {
  content: "\f1ab"; }

.xa-laptop:before {
  content: "\f109"; }

.xa-laptop-code:before {
  content: "\f5fc"; }

.xa-laptop-medical:before {
  content: "\f812"; }

.xa-laravel:before {
  content: "\f3bd"; }

.xa-lastfm:before {
  content: "\f202"; }

.xa-lastfm-square:before {
  content: "\f203"; }

.xa-laugh:before {
  content: "\f599"; }

.xa-laugh-beam:before {
  content: "\f59a"; }

.xa-laugh-squint:before {
  content: "\f59b"; }

.xa-laugh-wink:before {
  content: "\f59c"; }

.xa-layer-group:before {
  content: "\f5fd"; }

.xa-leaf:before {
  content: "\f06c"; }

.xa-leanpub:before {
  content: "\f212"; }

.xa-lemon:before {
  content: "\f094"; }

.xa-less:before {
  content: "\f41d"; }

.xa-less-than:before {
  content: "\f536"; }

.xa-less-than-equal:before {
  content: "\f537"; }

.xa-level-down-alt:before {
  content: "\f3be"; }

.xa-level-up-alt:before {
  content: "\f3bf"; }

.xa-life-ring:before {
  content: "\f1cd"; }

.xa-lightbulb:before {
  content: "\f0eb"; }

.xa-line:before {
  content: "\f3c0"; }

.xa-link:before {
  content: "\f0c1"; }

.xa-linkedin:before {
  content: "\f08c"; }

.xa-linkedin-in:before {
  content: "\f0e1"; }

.xa-linode:before {
  content: "\f2b8"; }

.xa-linux:before {
  content: "\f17c"; }

.xa-lira-sign:before {
  content: "\f195"; }

.xa-list:before {
  content: "\f03a"; }

.xa-list-alt:before {
  content: "\f022"; }

.xa-list-ol:before {
  content: "\f0cb"; }

.xa-list-ul:before {
  content: "\f0ca"; }

.xa-location-arrow:before {
  content: "\f124"; }

.xa-lock:before {
  content: "\f023"; }

.xa-lock-open:before {
  content: "\f3c1"; }

.xa-long-arrow-alt-down:before {
  content: "\f309"; }

.xa-long-arrow-alt-left:before {
  content: "\f30a"; }

.xa-long-arrow-alt-right:before {
  content: "\f30b"; }

.xa-long-arrow-alt-up:before {
  content: "\f30c"; }

.xa-low-vision:before {
  content: "\f2a8"; }

.xa-luggage-cart:before {
  content: "\f59d"; }

.xa-lyft:before {
  content: "\f3c3"; }

.xa-magento:before {
  content: "\f3c4"; }

.xa-magic:before {
  content: "\f0d0"; }

.xa-magnet:before {
  content: "\f076"; }

.xa-mail-bulk:before {
  content: "\f674"; }

.xa-mailchimp:before {
  content: "\f59e"; }

.xa-male:before {
  content: "\f183"; }

.xa-mandalorian:before {
  content: "\f50f"; }

.xa-map:before {
  content: "\f279"; }

.xa-map-marked:before {
  content: "\f59f"; }

.xa-map-marked-alt:before {
  content: "\f5a0"; }

.xa-map-marker:before {
  content: "\f041"; }

.xa-map-marker-alt:before {
  content: "\f3c5"; }

.xa-map-pin:before {
  content: "\f276"; }

.xa-map-signs:before {
  content: "\f277"; }

.xa-markdown:before {
  content: "\f60f"; }

.xa-marker:before {
  content: "\f5a1"; }

.xa-mars:before {
  content: "\f222"; }

.xa-mars-double:before {
  content: "\f227"; }

.xa-mars-stroke:before {
  content: "\f229"; }

.xa-mars-stroke-h:before {
  content: "\f22b"; }

.xa-mars-stroke-v:before {
  content: "\f22a"; }

.xa-mask:before {
  content: "\f6fa"; }

.xa-mastodon:before {
  content: "\f4f6"; }

.xa-maxcdn:before {
  content: "\f136"; }

.xa-medal:before {
  content: "\f5a2"; }

.xa-medapps:before {
  content: "\f3c6"; }

.xa-medium:before {
  content: "\f23a"; }

.xa-medium-m:before {
  content: "\f3c7"; }

.xa-medkit:before {
  content: "\f0fa"; }

.xa-medrt:before {
  content: "\f3c8"; }

.xa-meetup:before {
  content: "\f2e0"; }

.xa-megaport:before {
  content: "\f5a3"; }

.xa-meh:before {
  content: "\f11a"; }

.xa-meh-blank:before {
  content: "\f5a4"; }

.xa-meh-rolling-eyes:before {
  content: "\f5a5"; }

.xa-memory:before {
  content: "\f538"; }

.xa-mendeley:before {
  content: "\f7b3"; }

.xa-menorah:before {
  content: "\f676"; }

.xa-mercury:before {
  content: "\f223"; }

.xa-meteor:before {
  content: "\f753"; }

.xa-microchip:before {
  content: "\f2db"; }

.xa-microphone:before {
  content: "\f130"; }

.xa-microphone-alt:before {
  content: "\f3c9"; }

.xa-microphone-alt-slash:before {
  content: "\f539"; }

.xa-microphone-slash:before {
  content: "\f131"; }

.xa-microscope:before {
  content: "\f610"; }

.xa-microsoft:before {
  content: "\f3ca"; }

.xa-minus:before {
  content: "\f068"; }

.xa-minus-circle:before {
  content: "\f056"; }

.xa-minus-square:before {
  content: "\f146"; }

.xa-mitten:before {
  content: "\f7b5"; }

.xa-mix:before {
  content: "\f3cb"; }

.xa-mixcloud:before {
  content: "\f289"; }

.xa-mizuni:before {
  content: "\f3cc"; }

.xa-mobile:before {
  content: "\f10b"; }

.xa-mobile-alt:before {
  content: "\f3cd"; }

.xa-modx:before {
  content: "\f285"; }

.xa-monero:before {
  content: "\f3d0"; }

.xa-money-bill:before {
  content: "\f0d6"; }

.xa-money-bill-alt:before {
  content: "\f3d1"; }

.xa-money-bill-wave:before {
  content: "\f53a"; }

.xa-money-bill-wave-alt:before {
  content: "\f53b"; }

.xa-money-check:before {
  content: "\f53c"; }

.xa-money-check-alt:before {
  content: "\f53d"; }

.xa-monument:before {
  content: "\f5a6"; }

.xa-moon:before {
  content: "\f186"; }

.xa-mortar-pestle:before {
  content: "\f5a7"; }

.xa-mosque:before {
  content: "\f678"; }

.xa-motorcycle:before {
  content: "\f21c"; }

.xa-mountain:before {
  content: "\f6fc"; }

.xa-mouse-pointer:before {
  content: "\f245"; }

.xa-mug-hot:before {
  content: "\f7b6"; }

.xa-music:before {
  content: "\f001"; }

.xa-napster:before {
  content: "\f3d2"; }

.xa-neos:before {
  content: "\f612"; }

.xa-network-wired:before {
  content: "\f6ff"; }

.xa-neuter:before {
  content: "\f22c"; }

.xa-newspaper:before {
  content: "\f1ea"; }

.xa-nimblr:before {
  content: "\f5a8"; }

.xa-node:before {
  content: "\f419"; }

.xa-node-js:before {
  content: "\f3d3"; }

.xa-not-equal:before {
  content: "\f53e"; }

.xa-notes-medical:before {
  content: "\f481"; }

.xa-npm:before {
  content: "\f3d4"; }

.xa-ns8:before {
  content: "\f3d5"; }

.xa-nutritionix:before {
  content: "\f3d6"; }

.xa-object-group:before {
  content: "\f247"; }

.xa-object-ungroup:before {
  content: "\f248"; }

.xa-odnoklassniki:before {
  content: "\f263"; }

.xa-odnoklassniki-square:before {
  content: "\f264"; }

.xa-oil-can:before {
  content: "\f613"; }

.xa-old-republic:before {
  content: "\f510"; }

.xa-om:before {
  content: "\f679"; }

.xa-opencart:before {
  content: "\f23d"; }

.xa-openid:before {
  content: "\f19b"; }

.xa-opera:before {
  content: "\f26a"; }

.xa-optin-monster:before {
  content: "\f23c"; }

.xa-osi:before {
  content: "\f41a"; }

.xa-otter:before {
  content: "\f700"; }

.xa-outdent:before {
  content: "\f03b"; }

.xa-page4:before {
  content: "\f3d7"; }

.xa-pagelines:before {
  content: "\f18c"; }

.xa-pager:before {
  content: "\f815"; }

.xa-paint-brush:before {
  content: "\f1fc"; }

.xa-paint-roller:before {
  content: "\f5aa"; }

.xa-palette:before {
  content: "\f53f"; }

.xa-palfed:before {
  content: "\f3d8"; }

.xa-pallet:before {
  content: "\f482"; }

.xa-paper-plane:before {
  content: "\f1d8"; }

.xa-paperclip:before {
  content: "\f0c6"; }

.xa-parachute-box:before {
  content: "\f4cd"; }

.xa-paragraph:before {
  content: "\f1dd"; }

.xa-parking:before {
  content: "\f540"; }

.xa-passport:before {
  content: "\f5ab"; }

.xa-pastafarianism:before {
  content: "\f67b"; }

.xa-paste:before {
  content: "\f0ea"; }

.xa-patreon:before {
  content: "\f3d9"; }

.xa-pause:before {
  content: "\f04c"; }

.xa-pause-circle:before {
  content: "\f28b"; }

.xa-paw:before {
  content: "\f1b0"; }

.xa-paypal:before {
  content: "\f1ed"; }

.xa-peace:before {
  content: "\f67c"; }

.xa-pen:before {
  content: "\f304"; }

.xa-pen-alt:before {
  content: "\f305"; }

.xa-pen-fancy:before {
  content: "\f5ac"; }

.xa-pen-nib:before {
  content: "\f5ad"; }

.xa-pen-square:before {
  content: "\f14b"; }

.xa-pencil-alt:before {
  content: "\f303"; }

.xa-pencil-ruler:before {
  content: "\f5ae"; }

.xa-penny-arcade:before {
  content: "\f704"; }

.xa-people-carry:before {
  content: "\f4ce"; }

.xa-pepper-hot:before {
  content: "\f816"; }

.xa-percent:before {
  content: "\f295"; }

.xa-percentage:before {
  content: "\f541"; }

.xa-periscope:before {
  content: "\f3da"; }

.xa-person-booth:before {
  content: "\f756"; }

.xa-phabricator:before {
  content: "\f3db"; }

.xa-phoenix-framework:before {
  content: "\f3dc"; }

.xa-phoenix-squadron:before {
  content: "\f511"; }

.xa-phone:before {
  content: "\f095"; }

.xa-phone-alt:before {
  content: "\f879"; }

.xa-phone-slash:before {
  content: "\f3dd"; }

.xa-phone-square:before {
  content: "\f098"; }

.xa-phone-square-alt:before {
  content: "\f87b"; }

.xa-phone-volume:before {
  content: "\f2a0"; }

.xa-photo-video:before {
  content: "\f87c"; }

.xa-php:before {
  content: "\f457"; }

.xa-pied-piper:before {
  content: "\f2ae"; }

.xa-pied-piper-alt:before {
  content: "\f1a8"; }

.xa-pied-piper-hat:before {
  content: "\f4e5"; }

.xa-pied-piper-pp:before {
  content: "\f1a7"; }

.xa-piggy-bank:before {
  content: "\f4d3"; }

.xa-pills:before {
  content: "\f484"; }

.xa-pinterest:before {
  content: "\f0d2"; }

.xa-pinterest-p:before {
  content: "\f231"; }

.xa-pinterest-square:before {
  content: "\f0d3"; }

.xa-pizza-slice:before {
  content: "\f818"; }

.xa-place-of-worship:before {
  content: "\f67f"; }

.xa-plane:before {
  content: "\f072"; }

.xa-plane-arrival:before {
  content: "\f5af"; }

.xa-plane-departure:before {
  content: "\f5b0"; }

.xa-play:before {
  content: "\f04b"; }

.xa-play-circle:before {
  content: "\f144"; }

.xa-playstation:before {
  content: "\f3df"; }

.xa-plug:before {
  content: "\f1e6"; }

.xa-plus:before {
  content: "\f067"; }

.xa-plus-circle:before {
  content: "\f055"; }

.xa-plus-square:before {
  content: "\f0fe"; }

.xa-podcast:before {
  content: "\f2ce"; }

.xa-poll:before {
  content: "\f681"; }

.xa-poll-h:before {
  content: "\f682"; }

.xa-poo:before {
  content: "\f2fe"; }

.xa-poo-storm:before {
  content: "\f75a"; }

.xa-poop:before {
  content: "\f619"; }

.xa-portrait:before {
  content: "\f3e0"; }

.xa-pound-sign:before {
  content: "\f154"; }

.xa-power-off:before {
  content: "\f011"; }

.xa-pray:before {
  content: "\f683"; }

.xa-praying-hands:before {
  content: "\f684"; }

.xa-prescription:before {
  content: "\f5b1"; }

.xa-prescription-bottle:before {
  content: "\f485"; }

.xa-prescription-bottle-alt:before {
  content: "\f486"; }

.xa-print:before {
  content: "\f02f"; }

.xa-procedures:before {
  content: "\f487"; }

.xa-product-hunt:before {
  content: "\f288"; }

.xa-project-diagram:before {
  content: "\f542"; }

.xa-pushed:before {
  content: "\f3e1"; }

.xa-puzzle-piece:before {
  content: "\f12e"; }

.xa-python:before {
  content: "\f3e2"; }

.xa-qq:before {
  content: "\f1d6"; }

.xa-qrcode:before {
  content: "\f029"; }

.xa-question:before {
  content: "\f128"; }

.xa-question-circle:before {
  content: "\f059"; }

.xa-quidditch:before {
  content: "\f458"; }

.xa-quinscape:before {
  content: "\f459"; }

.xa-quora:before {
  content: "\f2c4"; }

.xa-quote-left:before {
  content: "\f10d"; }

.xa-quote-right:before {
  content: "\f10e"; }

.xa-quran:before {
  content: "\f687"; }

.xa-r-project:before {
  content: "\f4f7"; }

.xa-radiation:before {
  content: "\f7b9"; }

.xa-radiation-alt:before {
  content: "\f7ba"; }

.xa-rainbow:before {
  content: "\f75b"; }

.xa-random:before {
  content: "\f074"; }

.xa-raspberry-pi:before {
  content: "\f7bb"; }

.xa-ravelry:before {
  content: "\f2d9"; }

.xa-react:before {
  content: "\f41b"; }

.xa-reacteurope:before {
  content: "\f75d"; }

.xa-readme:before {
  content: "\f4d5"; }

.xa-rebel:before {
  content: "\f1d0"; }

.xa-receipt:before {
  content: "\f543"; }

.xa-recycle:before {
  content: "\f1b8"; }

.xa-red-river:before {
  content: "\f3e3"; }

.xa-reddit:before {
  content: "\f1a1"; }

.xa-reddit-alien:before {
  content: "\f281"; }

.xa-reddit-square:before {
  content: "\f1a2"; }

.xa-redhat:before {
  content: "\f7bc"; }

.xa-redo:before {
  content: "\f01e"; }

.xa-redo-alt:before {
  content: "\f2f9"; }

.xa-registered:before {
  content: "\f25d"; }

.xa-remove-format:before {
  content: "\f87d"; }

.xa-renren:before {
  content: "\f18b"; }

.xa-reply:before {
  content: "\f3e5"; }

.xa-reply-all:before {
  content: "\f122"; }

.xa-replyd:before {
  content: "\f3e6"; }

.xa-republican:before {
  content: "\f75e"; }

.xa-researchgate:before {
  content: "\f4f8"; }

.xa-resolving:before {
  content: "\f3e7"; }

.xa-restroom:before {
  content: "\f7bd"; }

.xa-retweet:before {
  content: "\f079"; }

.xa-rev:before {
  content: "\f5b2"; }

.xa-ribbon:before {
  content: "\f4d6"; }

.xa-ring:before {
  content: "\f70b"; }

.xa-road:before {
  content: "\f018"; }

.xa-robot:before {
  content: "\f544"; }

.xa-rocket:before {
  content: "\f135"; }

.xa-rocketchat:before {
  content: "\f3e8"; }

.xa-rockrms:before {
  content: "\f3e9"; }

.xa-route:before {
  content: "\f4d7"; }

.xa-rss:before {
  content: "\f09e"; }

.xa-rss-square:before {
  content: "\f143"; }

.xa-ruble-sign:before {
  content: "\f158"; }

.xa-ruler:before {
  content: "\f545"; }

.xa-ruler-combined:before {
  content: "\f546"; }

.xa-ruler-horizontal:before {
  content: "\f547"; }

.xa-ruler-vertical:before {
  content: "\f548"; }

.xa-running:before {
  content: "\f70c"; }

.xa-rupee-sign:before {
  content: "\f156"; }

.xa-sad-cry:before {
  content: "\f5b3"; }

.xa-sad-tear:before {
  content: "\f5b4"; }

.xa-safari:before {
  content: "\f267"; }

.xa-salesforce:before {
  content: "\f83b"; }

.xa-sass:before {
  content: "\f41e"; }

.xa-satellite:before {
  content: "\f7bf"; }

.xa-satellite-dish:before {
  content: "\f7c0"; }

.xa-save:before {
  content: "\f0c7"; }

.xa-schlix:before {
  content: "\f3ea"; }

.xa-school:before {
  content: "\f549"; }

.xa-screwdriver:before {
  content: "\f54a"; }

.xa-scribd:before {
  content: "\f28a"; }

.xa-scroll:before {
  content: "\f70e"; }

.xa-sd-card:before {
  content: "\f7c2"; }

.xa-search:before {
  content: "\f002"; }

.xa-search-dollar:before {
  content: "\f688"; }

.xa-search-location:before {
  content: "\f689"; }

.xa-search-minus:before {
  content: "\f010"; }

.xa-search-plus:before {
  content: "\f00e"; }

.xa-searchengin:before {
  content: "\f3eb"; }

.xa-seedling:before {
  content: "\f4d8"; }

.xa-sellcast:before {
  content: "\f2da"; }

.xa-sellsy:before {
  content: "\f213"; }

.xa-server:before {
  content: "\f233"; }

.xa-servicestack:before {
  content: "\f3ec"; }

.xa-shapes:before {
  content: "\f61f"; }

.xa-share:before {
  content: "\f064"; }

.xa-share-alt:before {
  content: "\f1e0"; }

.xa-share-alt-square:before {
  content: "\f1e1"; }

.xa-share-square:before {
  content: "\f14d"; }

.xa-shekel-sign:before {
  content: "\f20b"; }

.xa-shield-alt:before {
  content: "\f3ed"; }

.xa-ship:before {
  content: "\f21a"; }

.xa-shipping-fast:before {
  content: "\f48b"; }

.xa-shirtsinbulk:before {
  content: "\f214"; }

.xa-shoe-prints:before {
  content: "\f54b"; }

.xa-shopping-bag:before {
  content: "\f290"; }

.xa-shopping-basket:before {
  content: "\f291"; }

.xa-shopping-cart:before {
  content: "\f07a"; }

.xa-shopware:before {
  content: "\f5b5"; }

.xa-shower:before {
  content: "\f2cc"; }

.xa-shuttle-van:before {
  content: "\f5b6"; }

.xa-sign:before {
  content: "\f4d9"; }

.xa-sign-in-alt:before {
  content: "\f2f6"; }

.xa-sign-language:before {
  content: "\f2a7"; }

.xa-sign-out-alt:before {
  content: "\f2f5"; }

.xa-signal:before {
  content: "\f012"; }

.xa-signature:before {
  content: "\f5b7"; }

.xa-sim-card:before {
  content: "\f7c4"; }

.xa-simplybuilt:before {
  content: "\f215"; }

.xa-sistrix:before {
  content: "\f3ee"; }

.xa-sitemap:before {
  content: "\f0e8"; }

.xa-sith:before {
  content: "\f512"; }

.xa-skating:before {
  content: "\f7c5"; }

.xa-sketch:before {
  content: "\f7c6"; }

.xa-skiing:before {
  content: "\f7c9"; }

.xa-skiing-nordic:before {
  content: "\f7ca"; }

.xa-skull:before {
  content: "\f54c"; }

.xa-skull-crossbones:before {
  content: "\f714"; }

.xa-skyatlas:before {
  content: "\f216"; }

.xa-skype:before {
  content: "\f17e"; }

.xa-slack:before {
  content: "\f198"; }

.xa-slack-hash:before {
  content: "\f3ef"; }

.xa-slash:before {
  content: "\f715"; }

.xa-sleigh:before {
  content: "\f7cc"; }

.xa-sliders-h:before {
  content: "\f1de"; }

.xa-slideshare:before {
  content: "\f1e7"; }

.xa-smile:before {
  content: "\f118"; }

.xa-smile-beam:before {
  content: "\f5b8"; }

.xa-smile-wink:before {
  content: "\f4da"; }

.xa-smog:before {
  content: "\f75f"; }

.xa-smoking:before {
  content: "\f48d"; }

.xa-smoking-ban:before {
  content: "\f54d"; }

.xa-sms:before {
  content: "\f7cd"; }

.xa-snapchat:before {
  content: "\f2ab"; }

.xa-snapchat-ghost:before {
  content: "\f2ac"; }

.xa-snapchat-square:before {
  content: "\f2ad"; }

.xa-snowboarding:before {
  content: "\f7ce"; }

.xa-snowflake:before {
  content: "\f2dc"; }

.xa-snowman:before {
  content: "\f7d0"; }

.xa-snowplow:before {
  content: "\f7d2"; }

.xa-socks:before {
  content: "\f696"; }

.xa-solar-panel:before {
  content: "\f5ba"; }

.xa-sort:before {
  content: "\f0dc"; }

.xa-sort-alpha-down:before {
  content: "\f15d"; }

.xa-sort-alpha-down-alt:before {
  content: "\f881"; }

.xa-sort-alpha-up:before {
  content: "\f15e"; }

.xa-sort-alpha-up-alt:before {
  content: "\f882"; }

.xa-sort-amount-down:before {
  content: "\f160"; }

.xa-sort-amount-down-alt:before {
  content: "\f884"; }

.xa-sort-amount-up:before {
  content: "\f161"; }

.xa-sort-amount-up-alt:before {
  content: "\f885"; }

.xa-sort-down:before {
  content: "\f0dd"; }

.xa-sort-numeric-down:before {
  content: "\f162"; }

.xa-sort-numeric-down-alt:before {
  content: "\f886"; }

.xa-sort-numeric-up:before {
  content: "\f163"; }

.xa-sort-numeric-up-alt:before {
  content: "\f887"; }

.xa-sort-up:before {
  content: "\f0de"; }

.xa-soundcloud:before {
  content: "\f1be"; }

.xa-sourcetree:before {
  content: "\f7d3"; }

.xa-spa:before {
  content: "\f5bb"; }

.xa-space-shuttle:before {
  content: "\f197"; }

.xa-speakap:before {
  content: "\f3f3"; }

.xa-speaker-deck:before {
  content: "\f83c"; }

.xa-spell-check:before {
  content: "\f891"; }

.xa-spider:before {
  content: "\f717"; }

.xa-spinner:before {
  content: "\f110"; }

.xa-splotch:before {
  content: "\f5bc"; }

.xa-spotify:before {
  content: "\f1bc"; }

.xa-spray-can:before {
  content: "\f5bd"; }

.xa-square:before {
  content: "\f0c8"; }

.xa-square-full:before {
  content: "\f45c"; }

.xa-square-root-alt:before {
  content: "\f698"; }

.xa-squarespace:before {
  content: "\f5be"; }

.xa-stack-exchange:before {
  content: "\f18d"; }

.xa-stack-overflow:before {
  content: "\f16c"; }

.xa-stackpath:before {
  content: "\f842"; }

.xa-stamp:before {
  content: "\f5bf"; }

.xa-star:before {
  content: "\f005"; }

.xa-star-and-crescent:before {
  content: "\f699"; }

.xa-star-half:before {
  content: "\f089"; }

.xa-star-half-alt:before {
  content: "\f5c0"; }

.xa-star-of-david:before {
  content: "\f69a"; }

.xa-star-of-life:before {
  content: "\f621"; }

.xa-staylinked:before {
  content: "\f3f5"; }

.xa-steam:before {
  content: "\f1b6"; }

.xa-steam-square:before {
  content: "\f1b7"; }

.xa-steam-symbol:before {
  content: "\f3f6"; }

.xa-step-backward:before {
  content: "\f048"; }

.xa-step-forward:before {
  content: "\f051"; }

.xa-stethoscope:before {
  content: "\f0f1"; }

.xa-sticker-mule:before {
  content: "\f3f7"; }

.xa-sticky-note:before {
  content: "\f249"; }

.xa-stop:before {
  content: "\f04d"; }

.xa-stop-circle:before {
  content: "\f28d"; }

.xa-stopwatch:before {
  content: "\f2f2"; }

.xa-store:before {
  content: "\f54e"; }

.xa-store-alt:before {
  content: "\f54f"; }

.xa-strava:before {
  content: "\f428"; }

.xa-stream:before {
  content: "\f550"; }

.xa-street-view:before {
  content: "\f21d"; }

.xa-strikethrough:before {
  content: "\f0cc"; }

.xa-stripe:before {
  content: "\f429"; }

.xa-stripe-s:before {
  content: "\f42a"; }

.xa-stroopwafel:before {
  content: "\f551"; }

.xa-studiovinari:before {
  content: "\f3f8"; }

.xa-stumbleupon:before {
  content: "\f1a4"; }

.xa-stumbleupon-circle:before {
  content: "\f1a3"; }

.xa-subscript:before {
  content: "\f12c"; }

.xa-subway:before {
  content: "\f239"; }

.xa-suitcase:before {
  content: "\f0f2"; }

.xa-suitcase-rolling:before {
  content: "\f5c1"; }

.xa-sun:before {
  content: "\f185"; }

.xa-superpowers:before {
  content: "\f2dd"; }

.xa-superscript:before {
  content: "\f12b"; }

.xa-supple:before {
  content: "\f3f9"; }

.xa-surprise:before {
  content: "\f5c2"; }

.xa-suse:before {
  content: "\f7d6"; }

.xa-swatchbook:before {
  content: "\f5c3"; }

.xa-swimmer:before {
  content: "\f5c4"; }

.xa-swimming-pool:before {
  content: "\f5c5"; }

.xa-symfony:before {
  content: "\f83d"; }

.xa-synagogue:before {
  content: "\f69b"; }

.xa-sync:before {
  content: "\f021"; }

.xa-sync-alt:before {
  content: "\f2f1"; }

.xa-syringe:before {
  content: "\f48e"; }

.xa-table:before {
  content: "\f0ce"; }

.xa-table-tennis:before {
  content: "\f45d"; }

.xa-tablet:before {
  content: "\f10a"; }

.xa-tablet-alt:before {
  content: "\f3fa"; }

.xa-tablets:before {
  content: "\f490"; }

.xa-tachometer-alt:before {
  content: "\f3fd"; }

.xa-tag:before {
  content: "\f02b"; }

.xa-tags:before {
  content: "\f02c"; }

.xa-tape:before {
  content: "\f4db"; }

.xa-tasks:before {
  content: "\f0ae"; }

.xa-taxi:before {
  content: "\f1ba"; }

.xa-teamspeak:before {
  content: "\f4f9"; }

.xa-teeth:before {
  content: "\f62e"; }

.xa-teeth-open:before {
  content: "\f62f"; }

.xa-telegram:before {
  content: "\f2c6"; }

.xa-telegram-plane:before {
  content: "\f3fe"; }

.xa-temperature-high:before {
  content: "\f769"; }

.xa-temperature-low:before {
  content: "\f76b"; }

.xa-tencent-weibo:before {
  content: "\f1d5"; }

.xa-tenge:before {
  content: "\f7d7"; }

.xa-terminal:before {
  content: "\f120"; }

.xa-text-height:before {
  content: "\f034"; }

.xa-text-width:before {
  content: "\f035"; }

.xa-th:before {
  content: "\f00a"; }

.xa-th-large:before {
  content: "\f009"; }

.xa-th-list:before {
  content: "\f00b"; }

.xa-the-red-yeti:before {
  content: "\f69d"; }

.xa-theater-masks:before {
  content: "\f630"; }

.xa-themeco:before {
  content: "\f5c6"; }

.xa-themeisle:before {
  content: "\f2b2"; }

.xa-thermometer:before {
  content: "\f491"; }

.xa-thermometer-empty:before {
  content: "\f2cb"; }

.xa-thermometer-full:before {
  content: "\f2c7"; }

.xa-thermometer-half:before {
  content: "\f2c9"; }

.xa-thermometer-quarter:before {
  content: "\f2ca"; }

.xa-thermometer-three-quarters:before {
  content: "\f2c8"; }

.xa-think-peaks:before {
  content: "\f731"; }

.xa-thumbs-down:before {
  content: "\f165"; }

.xa-thumbs-up:before {
  content: "\f164"; }

.xa-thumbtack:before {
  content: "\f08d"; }

.xa-ticket-alt:before {
  content: "\f3ff"; }

.xa-times:before {
  content: "\f00d"; }

.xa-times-circle:before {
  content: "\f057"; }

.xa-tint:before {
  content: "\f043"; }

.xa-tint-slash:before {
  content: "\f5c7"; }

.xa-tired:before {
  content: "\f5c8"; }

.xa-toggle-off:before {
  content: "\f204"; }

.xa-toggle-on:before {
  content: "\f205"; }

.xa-toilet:before {
  content: "\f7d8"; }

.xa-toilet-paper:before {
  content: "\f71e"; }

.xa-toolbox:before {
  content: "\f552"; }

.xa-tools:before {
  content: "\f7d9"; }

.xa-tooth:before {
  content: "\f5c9"; }

.xa-torah:before {
  content: "\f6a0"; }

.xa-torii-gate:before {
  content: "\f6a1"; }

.xa-tractor:before {
  content: "\f722"; }

.xa-trade-federation:before {
  content: "\f513"; }

.xa-trademark:before {
  content: "\f25c"; }

.xa-traffic-light:before {
  content: "\f637"; }

.xa-train:before {
  content: "\f238"; }

.xa-tram:before {
  content: "\f7da"; }

.xa-transgender:before {
  content: "\f224"; }

.xa-transgender-alt:before {
  content: "\f225"; }

.xa-trash:before {
  content: "\f1f8"; }

.xa-trash-alt:before {
  content: "\f2ed"; }

.xa-trash-restore:before {
  content: "\f829"; }

.xa-trash-restore-alt:before {
  content: "\f82a"; }

.xa-tree:before {
  content: "\f1bb"; }

.xa-trello:before {
  content: "\f181"; }

.xa-tripadvisor:before {
  content: "\f262"; }

.xa-trophy:before {
  content: "\f091"; }

.xa-truck:before {
  content: "\f0d1"; }

.xa-truck-loading:before {
  content: "\f4de"; }

.xa-truck-monster:before {
  content: "\f63b"; }

.xa-truck-moving:before {
  content: "\f4df"; }

.xa-truck-pickup:before {
  content: "\f63c"; }

.xa-tshirt:before {
  content: "\f553"; }

.xa-tty:before {
  content: "\f1e4"; }

.xa-tumblr:before {
  content: "\f173"; }

.xa-tumblr-square:before {
  content: "\f174"; }

.xa-tv:before {
  content: "\f26c"; }

.xa-twitch:before {
  content: "\f1e8"; }

.xa-twitter:before {
  content: "\f099"; }

.xa-twitter-square:before {
  content: "\f081"; }

.xa-typo3:before {
  content: "\f42b"; }

.xa-uber:before {
  content: "\f402"; }

.xa-ubuntu:before {
  content: "\f7df"; }

.xa-uikit:before {
  content: "\f403"; }

.xa-umbrella:before {
  content: "\f0e9"; }

.xa-umbrella-beach:before {
  content: "\f5ca"; }

.xa-underline:before {
  content: "\f0cd"; }

.xa-undo:before {
  content: "\f0e2"; }

.xa-undo-alt:before {
  content: "\f2ea"; }

.xa-uniregistry:before {
  content: "\f404"; }

.xa-universal-access:before {
  content: "\f29a"; }

.xa-university:before {
  content: "\f19c"; }

.xa-unlink:before {
  content: "\f127"; }

.xa-unlock:before {
  content: "\f09c"; }

.xa-unlock-alt:before {
  content: "\f13e"; }

.xa-untappd:before {
  content: "\f405"; }

.xa-upload:before {
  content: "\f093"; }

.xa-ups:before {
  content: "\f7e0"; }

.xa-usb:before {
  content: "\f287"; }

.xa-user:before {
  content: "\f007"; }

.xa-user-alt:before {
  content: "\f406"; }

.xa-user-alt-slash:before {
  content: "\f4fa"; }

.xa-user-astronaut:before {
  content: "\f4fb"; }

.xa-user-check:before {
  content: "\f4fc"; }

.xa-user-circle:before {
  content: "\f2bd"; }

.xa-user-clock:before {
  content: "\f4fd"; }

.xa-user-cog:before {
  content: "\f4fe"; }

.xa-user-edit:before {
  content: "\f4ff"; }

.xa-user-friends:before {
  content: "\f500"; }

.xa-user-graduate:before {
  content: "\f501"; }

.xa-user-injured:before {
  content: "\f728"; }

.xa-user-lock:before {
  content: "\f502"; }

.xa-user-md:before {
  content: "\f0f0"; }

.xa-user-minus:before {
  content: "\f503"; }

.xa-user-ninja:before {
  content: "\f504"; }

.xa-user-nurse:before {
  content: "\f82f"; }

.xa-user-plus:before {
  content: "\f234"; }

.xa-user-secret:before {
  content: "\f21b"; }

.xa-user-shield:before {
  content: "\f505"; }

.xa-user-slash:before {
  content: "\f506"; }

.xa-user-tag:before {
  content: "\f507"; }

.xa-user-tie:before {
  content: "\f508"; }

.xa-user-times:before {
  content: "\f235"; }

.xa-users:before {
  content: "\f0c0"; }

.xa-users-cog:before {
  content: "\f509"; }

.xa-usps:before {
  content: "\f7e1"; }

.xa-ussunnah:before {
  content: "\f407"; }

.xa-utensil-spoon:before {
  content: "\f2e5"; }

.xa-utensils:before {
  content: "\f2e7"; }

.xa-vaadin:before {
  content: "\f408"; }

.xa-vector-square:before {
  content: "\f5cb"; }

.xa-venus:before {
  content: "\f221"; }

.xa-venus-double:before {
  content: "\f226"; }

.xa-venus-mars:before {
  content: "\f228"; }

.xa-viacoin:before {
  content: "\f237"; }

.xa-viadeo:before {
  content: "\f2a9"; }

.xa-viadeo-square:before {
  content: "\f2aa"; }

.xa-vial:before {
  content: "\f492"; }

.xa-vials:before {
  content: "\f493"; }

.xa-viber:before {
  content: "\f409"; }

.xa-video:before {
  content: "\f03d"; }

.xa-video-slash:before {
  content: "\f4e2"; }

.xa-vihara:before {
  content: "\f6a7"; }

.xa-vimeo:before {
  content: "\f40a"; }

.xa-vimeo-square:before {
  content: "\f194"; }

.xa-vimeo-v:before {
  content: "\f27d"; }

.xa-vine:before {
  content: "\f1ca"; }

.xa-vk:before {
  content: "\f189"; }

.xa-vnv:before {
  content: "\f40b"; }

.xa-voicemail:before {
  content: "\f897"; }

.xa-volleyball-ball:before {
  content: "\f45f"; }

.xa-volume-down:before {
  content: "\f027"; }

.xa-volume-mute:before {
  content: "\f6a9"; }

.xa-volume-off:before {
  content: "\f026"; }

.xa-volume-up:before {
  content: "\f028"; }

.xa-vote-yea:before {
  content: "\f772"; }

.xa-vr-cardboard:before {
  content: "\f729"; }

.xa-vuejs:before {
  content: "\f41f"; }

.xa-walking:before {
  content: "\f554"; }

.xa-wallet:before {
  content: "\f555"; }

.xa-warehouse:before {
  content: "\f494"; }

.xa-water:before {
  content: "\f773"; }

.xa-wave-square:before {
  content: "\f83e"; }

.xa-waze:before {
  content: "\f83f"; }

.xa-weebly:before {
  content: "\f5cc"; }

.xa-weibo:before {
  content: "\f18a"; }

.xa-weight:before {
  content: "\f496"; }

.xa-weight-hanging:before {
  content: "\f5cd"; }

.xa-weixin:before {
  content: "\f1d7"; }

.xa-whatsapp:before {
  content: "\f232"; }

.xa-whatsapp-square:before {
  content: "\f40c"; }

.xa-wheelchair:before {
  content: "\f193"; }

.xa-whmcs:before {
  content: "\f40d"; }

.xa-wifi:before {
  content: "\f1eb"; }

.xa-wikipedia-w:before {
  content: "\f266"; }

.xa-wind:before {
  content: "\f72e"; }

.xa-window-close:before {
  content: "\f410"; }

.xa-window-maximize:before {
  content: "\f2d0"; }

.xa-window-minimize:before {
  content: "\f2d1"; }

.xa-window-restore:before {
  content: "\f2d2"; }

.xa-windows:before {
  content: "\f17a"; }

.xa-wine-bottle:before {
  content: "\f72f"; }

.xa-wine-glass:before {
  content: "\f4e3"; }

.xa-wine-glass-alt:before {
  content: "\f5ce"; }

.xa-wix:before {
  content: "\f5cf"; }

.xa-wizards-of-the-coast:before {
  content: "\f730"; }

.xa-wolf-pack-battalion:before {
  content: "\f514"; }

.xa-won-sign:before {
  content: "\f159"; }

.xa-wordpress:before {
  content: "\f19a"; }

.xa-wordpress-simple:before {
  content: "\f411"; }

.xa-wpbeginner:before {
  content: "\f297"; }

.xa-wpexplorer:before {
  content: "\f2de"; }

.xa-wpforms:before {
  content: "\f298"; }

.xa-wpressr:before {
  content: "\f3e4"; }

.xa-wrench:before {
  content: "\f0ad"; }

.xa-x-ray:before {
  content: "\f497"; }

.xa-xbox:before {
  content: "\f412"; }

.xa-xing:before {
  content: "\f168"; }

.xa-xing-square:before {
  content: "\f169"; }

.xa-y-combinator:before {
  content: "\f23b"; }

.xa-yahoo:before {
  content: "\f19e"; }

.xa-yammer:before {
  content: "\f840"; }

.xa-yandex:before {
  content: "\f413"; }

.xa-yandex-international:before {
  content: "\f414"; }

.xa-yarn:before {
  content: "\f7e3"; }

.xa-yelp:before {
  content: "\f1e9"; }

.xa-yen-sign:before {
  content: "\f157"; }

.xa-yin-yang:before {
  content: "\f6ad"; }

.xa-yoast:before {
  content: "\f2b1"; }

.xa-youtube:before {
  content: "\f167"; }

.xa-youtube-square:before {
  content: "\f431"; }

.xa-zhihu:before {
  content: "\f63f"; }

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.xar {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url("../fonts/xa-solid-900.eot");
  src: url("../fonts/xa-solid-900.eot?#iefix") format("embedded-opentype"), url("../fonts/xa-solid-900.woff2") format("woff2"), url("../fonts/xa-solid-900.woff") format("woff"), url("../fonts/xa-solid-900.ttf") format("truetype"), url("../fonts/xa-solid-900.svg#fontawesome") format("svg"); }

.xa,
.xas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900; }
